.pokemon {
    border: 2px solid gray;
    border-radius: 20px;
    min-height: 500px;
}

.name {
    color: white;
}

.all-info {
    background-color: white;
    border-radius: 0 0 20px 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    margin: 10px 0 0 0;
}

.height {
    margin: 0;

}

.weight {
    margin: 0;
}

.pokemon-img {
    margin: 0 auto;
    display: block;
    width: 50%;
}

.type {
    border: solid 1px white;
    border-radius: 5px;
    padding: 2px;
    margin: 0 2px 0 2px;
    font-size: 12px;
    min-width: 50px;
    text-align: center;
}

.stats {
    margin: 0 5px;
}

.stats p {
    margin: 0 0 6px 0;
}

.progressbar {
    width: 60%;

}

.normal {
    background: radial-gradient(circle, #A4ACAF, black);
}

.fighting {
    background: radial-gradient(circle, #D56723, black);
}

.flying {
    background: radial-gradient(circle, #337BEF, black);
}

.poison {
    background: radial-gradient(circle, #B97FC9, black);
}

.ground {
    background: radial-gradient(circle, #AB9842, black);
}

.rock {
    background: radial-gradient(circle, #8A761C, black);
}

.bug {
    background: radial-gradient(circle, #729F3F, black);
}

.ghost {
    background: radial-gradient(circle, #7B62A3, black);
}

.steel {
    background: radial-gradient(circle, #9EB7B8, black);
}

.fire {
    background: radial-gradient(circle, #FD7D24, black);
}

.water {
    background: radial-gradient(circle, #4592C4, black);
}

.grass {
    background: radial-gradient(circle, #9BCC50, black);
}

.electric {
    background: radial-gradient(circle, #EED535, black);
}

.psychic {
    background: radial-gradient(circle, #F366B9, black);
}

.ice {
    background: radial-gradient(circle, #51C4E7, black);
}

.dragon {
    background: radial-gradient(circle, #F16E57, black);
}

.dark {
    background: radial-gradient(circle, #707070, black);
}

.fairy {
    background: radial-gradient(circle, #FDB9E9, black);
}

.unknown {
    background: radial-gradient(circle, #ffffff, black);
}

.shadow {
    background: radial-gradient(circle, #8f9496, black);
}


.normal-item {
    background: #A4ACAF;
}

.fighting-item {
    background: #D56723;
}

.flying-item {
    background: #337BEF;
}

.poison-item {
    background: #B97FC9;
}

.ground-item {
    background: #AB9842;
}

.rock-item {
    background: #8A761C;
}

.bug-item {
    background: #729F3F;
}

.ghost-item {
    background: #7B62A3;
}

.steel-item {
    background: #9EB7B8;
}

.fire-item {
    background: #FD7D24;
}

.water-item {
    background: #4592C4;
}

.grass-item {
    background: #9BCC50;
}

.electric-item {
    background: #EED535;
}

.psychic-item {
    background: #F366B9;
}

.ice-item {
    background: #51C4E7;
}

.dragon-item {
    background: #F16E57;
}

.dark-item {
    background: #707070;
}

.fairy-item {
    background: #FDB9E9;
}

.unknown-item {
    background: #ffffff;
}

.shadow-item {
    background: #8f9496;
}